
@{
    ViewBag.Title = "Login";
}

<br />
<div class=" col-md-6 col-md-offset-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Inicio de sesion</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="">
                    <label for="email">Direccion de e-mail:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="">
                    <label for="pwd">Contraseña:</label>
                    <input type="password" class="form-control" id="pwd">
                </div>
                <div class="">
                    <br />
                    <label><input type="checkbox"> Recordar</label>
                    <br />
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    
                </div>
                
            </form>
        </div>
    </div>
</div>